# Operators

In [1]:
55+33

88

In [2]:
2+2

4

In [ ]:
3+5

In [3]:
pi=3.14
p=int(pi)
type(p)

int

In [4]:
b=input('age of tiger')
type(b)

str

In [5]:
x=5
x=str(5)
type(x)

str

In [6]:
num=0
val=bool(num)
type(num)

int

In [7]:
married=yes
type(married)

NameError: name 'yes' is not defined

In [10]:
married='yes'
b=bool(married)
type(b)

bool

In [9]:
married='yes'
b=bool(married)
type(b)

bool

In [1]:
name=input("enter your name" )
city=input("enter your fav city" )
fav_food=input("enter your fav food" )
fav_book=input("enter your fav book" )

In [3]:
print(f'your name:{name}')
print(f'your city:{city}')
print(f'your fav food:{fav_food}')
print(f'your fav book:{fav_book}')

your name:ram
your city:mumbai
your fav food:stir food
your fav book:jeet aap ki

In [5]:
num=int(input('enter a number:'))
num2=int(input('enter another number:'))
num3= num+num2
print(f'{num}+{num}={num3}')

55+55=77

In [6]:
num=int(input('enter a number:'))
num2=int(input('enter 2nd number:'))
num3=int(input('enter 3rd number:'))
num4=int(input('enter 4th number:'))
num5=int(input('enter 5th number:'))
print(f'{num}+{num2}+{num3}+{num4}+{num5}')

22+33+44+55+66

In [7]:
num=int(input('enter a number:'))
num2=int(input('enter 2nd number:'))
num3=int(input('enter 3rd number:'))
num4=int(input('enter 4th number:'))
num5=int(input('enter 5th number:'))
num6= num+num2+num3+num4+num5=num6
print(f'{num}+{num2}+{num3}+{num4}+{num5}={num6}')

SyntaxError: cannot assign to operator (3280446788.py, line 6)

In [8]:
#h=(p**2 + b**2)**0.5

In [9]:
p=3
b=5

In [13]:
p=int(input("height"))
b=int(input("base"))
h=(p**2 + b**2)**0.5
print(f'hypo:{h}')

hypo:7.810249675906654

In [15]:
p=float(input("enter the principal"))
r=float(input("enter rate of intrest"))
t=float(input("duration of time"))
a=si+p
print(f'simple intrest:(si)')
print(f'amount:(a)')

ValueError: could not convert string to float: ''

In [17]:
p=float(input("enter the principal"))
r=float(input("enter rate of intrest"))
t=float(input("duration of time"))
si=(p*t*r)/100
a=si+p
print(f'simple intrest:{si}')
print(f'amount:{a}')

simple intrest:3418458.12
amount:3425124.12

In [20]:
print('you see an apple')
q=input('do you like apple?')
if q== "yes" :
    print('purchase two kg of apple')
if q== "no" :
    print('you do not purchase apple')

you see an apple
purchase two kg of apple

In [21]:
print("m is mass")
q==input("calculate the mass")
if q=="yes" :
    print("calculate mass")
if q== "no" :
    print('do not calculate')

m is mass
calculate mass

In [22]:
x=5
if x>5 :
    print('x is greater than 5')
    print('x is the info we needed')
    print('with this power, comes grear responsibilites')
    print('the end')

In [23]:
x=5
if x>5 :
    print('x is greater than 5')
    print('x is the info we needed')
    print('with this power, comes grear responsibilites')
print('the end')

the end

In [24]:
x=-3
if x>5 :
    print('x is greater than 5')
    print('x is the info we needed')
    print('with this power, comes grear responsibilites')
print('the end')

the end

In [26]:
temp = float(input('what is the tempr?'))
if temp > 68 :
    print('wear shotrs')
else:
    print('wear long pants.')
print('get some exercise outside')

wear shotrs
get some exercise outside

In [27]:
cost = float(input('what is the cost of ship'))
if cost > 5000**2:
    print('do not buy ship')
else:
    print('buy ship')

do not buy ship

In [30]:
score = int(input('your score'))
if score >=98:
    letter = 'A'
elif score >=80:
    letter = 'B'
elif score >=70:
    letter ='C'
elif score >60:
    letter = 'D'
else:
    letter = 'G'
print(letter)

D

In [2]:
name= input('enter your name: ')
print('name ')

name

In [4]:
name= input('enter your name: ')
print("Hello mr", 'name ')

Hello mr name

In [6]:
num1 = int(input('enter num1:'))
num2 = int(input('enter num2:'))
num3 = num1 * num2
print("product sum is:", num3)

product sum is: 15

In [7]:
num = 55
if num > 35 :
    print("num is good")
elif num < 60 :
    print("not is not good")

num is good

In [10]:
for step in range(10):
    print('raj',step)

raj 0
raj 1
raj 2
raj 3
raj 4
raj 5
raj 6
raj 7
raj 8
raj 9

In [14]:
x = "Rome_"
y = 500
z = x * y
print('product',z)

product Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_Rome_

In [15]:
print(5)

5

In [16]:
x= 23
y = rak
z = 0.22
print(type(x))
print(type(y))
print(type(c))

NameError: name 'rak' is not defined

In [18]:
x= 23
y = rak
z = 0.22
type(x)

NameError: name 'rak' is not defined

In [22]:
print(False == 0)
print(True == 1)
print(True + True + False)

True
True
2

In [26]:
for i in range(10):
print(i, end='5')

IndentationError: expected an indented block (1865825023.py, line 2)

In [27]:
def fun() :
    print('inside function')

In [35]:
def fun():
    S = 0
for i in range(10) :
    S += i
    return 'S'
print(fun())

SyntaxError: 'return' outside function (4241597505.py, line 5)

In [32]:
for step in range(100):

IndentationError: expected an indented block (803233598.py, line 1)

In [33]:
for step in range(10):
    print(step)

0
1
2
3
4
5
6
7
8
9

In [34]:
for step in range(100) :
    print(step)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [38]:
for car in range(5) :
    print(car)

0
1
2
3
4

In [1]:
salary = 25000
if salary > 20000 :
    HRA = "5%"
else :
    HRA = "6%"
print (f'hra: {HRA}')

hra: 5%

In [2]:
HRA = "5%" if salary > 20000 else "6%"
print(f'hra:{HRA}')

hra:5%

In [3]:
if 42 in range(100):
    print('42')

42

In [5]:
x = 'Alice' if 'John' in "my name is Johnas" else "Bob"
print(x)

Alice

In [6]:
print('42') if 42 in [23,43,42] else print('21')

42