In [1]:
num = [1,2,3,5,6,7,8,7,9,7,9]
for i in num:
    print(i)

1
2
3
5
6
7
8
7
9
7
9

In [2]:
num = [2,3,4,56,7,6,5,4,8]
print(num)

[2, 3, 4, 56, 7, 6, 5, 4, 8]

In [3]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [5]:
for i in range(22,50):
    print(i)

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [6]:
for i in range(20,50,5):
    print(i)

20
25
30
35
40
45

In [7]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [8]:
for i in range(20):
    print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

In [10]:
msg = 'hello, how are you?'
print(len(msg))
for c in msg:
    if c!= ',':
        print(c)

19
h
e
l
l
o

h
o
w

a
r
e

y
o
u
?

In [11]:
for i in enumerate(msg):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ',')
(6, ' ')
(7, 'h')
(8, 'o')
(9, 'w')
(10, ' ')
(11, 'a')
(12, 'r')
(13, 'e')
(14, ' ')
(15, 'y')
(16, 'o')
(17, 'u')
(18, '?')

In [12]:
for i, c in enumerate(msg):
    print(i, c)

0 h
1 e
2 l
3 l
4 o
5 ,
6
7 h
8 o
9 w
10
11 a
12 r
13 e
14
15 y
16 o
17 u
18 ?

In [15]:
msg=input()
for i,c in enumerate(msg):
    print(i,c)

0 s
1 h
2 r
3 i
4 r
5 a
6 m
7
8 s
9 u
10 r
11 y
12 a
13 w
14 a
15 n
16 s
17 h
18 i

In [18]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j in zip(num1,num2):
    print(i,j)

1 45
3 5
4 6
6 78
76 8
6 5

In [19]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j,k in zip(num1,num2,num3):
    print(k,j,i)

4 45 1
56 5 3
7 6 4
8 78 6
9 8 76
7 5 6

In [20]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j,k in zip(num1,num2,num3):
    print(k+j,i)

49 1
61 3
13 4
86 6
17 76
12 6

In [22]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j,k in zip(num1,num2,num3):
    if (i+j+k)%2==0:
         print(k+j+i)

50
64
92
18

In [23]:
for i in range(25,5,-5):
    print(i)

25
20
15
10

In [25]:
for i in range(100,10,-12):
    print(i)

100
88
76
64
52
40
28
16

In [26]:
for i in range(-10,10):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(20,2,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [30]:
num = [1,2,3,4,56,7,7,7,88,9]
for n in num:
    if n==7:
        continue
    print(n)

SyntaxError: invalid syntax (922498861.py, line 3)

In [31]:
num = [1,2,3,4,56,7,7,7,88,9]
for n in num:
    if n==7 or n==56:
        continue
    print(n)

1
2
3
4
88
9

In [35]:
num = int(input('enter the number:'))
for i in range(2,num):
    if num % i == 0:
        print("non prime value", num)
        break
else:
    print("prime value", num)

prime value 59

In [36]:
for i in range(1,20,2):
    print("😊"*i)

😊
😊😊😊
😊😊😊😊😊
😊😊😊😊😊😊😊
😊😊😊😊😊😊😊😊😊
😊😊😊😊😊😊😊😊😊😊😊
😊😊😊😊😊😊😊😊😊😊😊😊😊
😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊
😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊
😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊😊

In [37]:
i = int(input("enter the vale:"))
while i<10:
    print(i)
    i+=1
print("the code ends")

2
3
4
5
6
7
8
9
the code ends