In [1]:
num = [1,2,3,5,6,7,8,7,9,7,9]
for i in num:
    print(i)

1
2
3
5
6
7
8
7
9
7
9

In [2]:
num = [2,3,4,56,7,6,5,4,8]
print(num)

[2, 3, 4, 56, 7, 6, 5, 4, 8]

In [3]:
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(15):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [5]:
for i in range(22,50):
    print(i)

22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [6]:
for i in range(20,50,5):
    print(i)

20
25
30
35
40
45

In [7]:
for i in range(10,20,2):
    print(i)

10
12
14
16
18

In [8]:
for i in range(20):
    print(i, end=',')

0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,

In [10]:
msg = 'hello, how are you?'
print(len(msg))
for c in msg:
    if c!= ',':
        print(c)

19
h
e
l
l
o

h
o
w

a
r
e

y
o
u
?

In [11]:
for i in enumerate(msg):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ',')
(6, ' ')
(7, 'h')
(8, 'o')
(9, 'w')
(10, ' ')
(11, 'a')
(12, 'r')
(13, 'e')
(14, ' ')
(15, 'y')
(16, 'o')
(17, 'u')
(18, '?')

In [12]:
for i, c in enumerate(msg):
    print(i, c)

0 h
1 e
2 l
3 l
4 o
5 ,
6
7 h
8 o
9 w
10
11 a
12 r
13 e
14
15 y
16 o
17 u
18 ?

In [15]:
msg=input()
for i,c in enumerate(msg):
    print(i,c)

0 s
1 h
2 r
3 i
4 r
5 a
6 m
7
8 s
9 u
10 r
11 y
12 a
13 w
14 a
15 n
16 s
17 h
18 i

In [18]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j in zip(num1,num2):
    print(i,j)

1 45
3 5
4 6
6 78
76 8
6 5

In [19]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j,k in zip(num1,num2,num3):
    print(k,j,i)

4 45 1
56 5 3
7 6 4
8 78 6
9 8 76
7 5 6

In [20]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j,k in zip(num1,num2,num3):
    print(k+j,i)

49 1
61 3
13 4
86 6
17 76
12 6

In [22]:
num1 = [1,3,4,6,76,6]
num2 = [45,5,6,78,8,5]
num3 = [4,56,7,8,9,7]
for i,j,k in zip(num1,num2,num3):
    if (i+j+k)%2==0:
         print(k+j+i)

50
64
92
18

In [23]:
for i in range(25,5,-5):
    print(i)

25
20
15
10

In [25]:
for i in range(100,10,-12):
    print(i)

100
88
76
64
52
40
28
16

In [26]:
for i in range(-10,10):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9

In [27]:
for i in range(20,2,-1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3

In [30]:
num = [1,2,3,4,56,7,7,7,88,9]
for n in num:
    if n==7:
        continue
    print(n)

SyntaxError: invalid syntax (922498861.py, line 3)

In [31]:
num = [1,2,3,4,56,7,7,7,88,9]
for n in num:
    if n==7 or n==56:
        continue
    print(n)

1
2
3
4
88
9

In [35]:
num = int(input('enter the number:'))
for i in range(2,num):
    if num % i == 0:
        print("non prime value", num)
        break
else:
    print("prime value", num)

prime value 59

In [36]:
for i in range(1,20,2):
    print("ðŸ˜Š"*i)

ðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š
ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š

In [37]:
i = int(input("enter the vale:"))
while i<10:
    print(i)
    i+=1
print("the code ends")

2
3
4
5
6
7
8
9
the code ends

In [2]:
all_data = ""
while True:
    line=input("~")
    if not line:
        break
    all_data+= line+"\n"

In [3]:
print(all_data)

the car
all
we are
go to
mimbai

In [10]:
name = input("enter your name")
size = len(name)
a=0
while a < size:
    
    if name [a]==" ":
        print("\nspace found in name")
        break
    else:
        print(name[a],end="")
    a +=1

aditya
space found in name

In [11]:
name = 'RAM'
city = "Munbai"
story = '''I got new mobi
its so nice
having good camera
'''
poem = """prem mhanje prem aste 
tumche amche same aste 
varyavar juru juru 
gandga hava
"""

In [12]:
type(name)

str

In [14]:
print(type(city),type(story),type(poem))

<class 'str'> <class 'str'> <class 'str'>

In [16]:
r = "Suryawanshi"
r[5]

'w'

In [18]:
r[-5]

'a'

In [21]:
for i,j in enumerate(r):

    print(i,j)

0 S
1 u
2 r
3 y
4 a
5 w
6 a
7 n
8 s
9 h
10 i

In [22]:
name = 'Bhaskar Diwakar Chaudhari'

In [30]:
name[8:]

'Diwakar Chaudhari'

In [29]:
name[8:15]

'Diwakar'

In [28]:
name[-9:]

'Chaudhari'

In [31]:
name[:7]

'Bhaskar'

In [32]:
name[0:10:2]

'BakrD'

In [33]:
name[::-1]

'irahduahC rakawiD raksahB'

In [34]:
name[:8:-1]

'irahduahC rakawi'

In [35]:
name[4::-1]

'ksahB'

In [36]:
name[:15:-1]

'irahduahC'

string functions can be divided into following types

1. output/format modification 
- upper()
-lower()
-capitalize()
-swapcase()
-title()
-ljust()
-rjust()
-center()
-casefold()

2. Validation Functions
-isupper()
-islower()
-isalpha()
-isnumeric()
-isspace()
-isdigit()
-isdecima()
-isprintable()
-startswith()
-endwith()

3. utility fuctions
-find()
-rfind()
-index()
-replace()
-count()
-split()
-rsplit()
-join()
-strip()
-rstrip()

In [37]:
msg = "we are going Have FUN"

In [38]:
msg.upper()

'WE ARE GOING HAVE FUN'

In [39]:
msg.lower()

'we are going have fun'

In [40]:
msg.capitalize()

'We are going have fun'

In [41]:
msg.swapcase()

'WE ARE GOING hAVE fun'

In [43]:
msg.title()

'We Are Going Have Fun'

In [44]:
msg.casefold()

'we are going have fun'

In [49]:
a = 'Car'

In [50]:
a.ljust(12)

'Car         '

In [51]:
a.rjust(12)

'         Car'

In [58]:
a.center(20,'ðŸ˜Š')

'ðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠCarðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜ŠðŸ˜Š'