# data sturctures
## list
 -indexed structure
 -mutable
 -ordered
 -can contain duplicated
 -heterogeneous value
 - can be nasted 
 -'list()' is t funtion to convert other iterable to list
 - list has 11 methods

In [1]:
movies = ['RRR', 'SAIRAT', 'MITWA', 'MATRIX', 'STAR WARS']

In [2]:
movies[0]

'RRR'

In [3]:
movies[2]

'MITWA'

In [4]:
movies[2] = 'Avengers'

In [5]:
movies

['RRR', 'SAIRAT', 'Avengers', 'MATRIX', 'STAR WARS']

In [6]:
movies[:2]

['RRR', 'SAIRAT']

In [7]:
movies[-2:]

['MATRIX', 'STAR WARS']

In [8]:
movies[1::2]

['SAIRAT', 'MATRIX']

In [9]:
movies[::-1]

['STAR WARS', 'MATRIX', 'Avengers', 'SAIRAT', 'RRR']

In [12]:
for movie in movies:
    print("i have watched " + movie)

i have watched RRR
i have watched SAIRAT
i have watched Avengers
i have watched MATRIX
i have watched STAR WARS

In [13]:
# duplications
x = [1] * 12
print(x)

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [14]:
x = [1,2,2] * 12
print(x)

[1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2, 1, 2, 2]

In [15]:
x = [1,2,3,5,6,7,8]
y = [3,4,5,7,8,8,8]
x + y

[1, 2, 3, 5, 6, 7, 8, 3, 4, 5, 7, 8, 8, 8]

In [18]:
x = [1,2,3,5,6,7,8]
y = [3,4,5,7,8,8,8]
x*y

TypeError: can't multiply sequence by non-int of type 'list'

In [19]:
z = [1,2,3,4,5,6,85,4,7,4,6,5,7,53,6,45,6,7,3,53,23]

In [20]:
sorted(z)

[1, 2, 3, 3, 4, 4, 4, 5, 5, 6, 6, 6, 6, 7, 7, 7, 23, 45, 53, 53, 85]

In [21]:
sorted(movies)

['Avengers', 'MATRIX', 'RRR', 'SAIRAT', 'STAR WARS']

In [22]:
sum(z)

335

In [23]:
max(z)

85

In [24]:
min(z)

1

In [25]:
len(z)

21

In [26]:
sum(z)/len(z)

15.952380952380953

In [27]:
list("manikchandra")

['m', 'a', 'n', 'i', 'k', 'c', 'h', 'a', 'n', 'd', 'r', 'a']