# QUESTIONS

In [1]:

vowels = 'aieouAEIOU' 
msg = input("enter something:")
for v in vowels:
    msg.replace(v,'')
print(msg)

exam f is message

In [2]:
vowels = 'aieouAEIOU' 
msg = input("enter something:")
for v in vowels:
    msg.replace(v,'')
print(msg)

an apple

In [3]:
vowels = 'aieouAEIOU' 
msg = input("enter something:")
for v in vowels:
    msg.replace(v,'')
print(msg)

there is a new message found

In [4]:
msg=input('Enter something')
count=0
for i in msg:
    if i in 'aieouAEIOU':
        count+=1
    print(count)

1

In [5]:
msg=input('Enter something')
count=0
for i in msg:
    if i in 'aieouAEIOU':
        count+=1
print(count)

3

In [6]:
msg=input('Enter something')
count=0
for i in msg:
    if i in 'aieouAEIOU':
        count+=1
print(count)

6

In [7]:
"hellow this is an example of strings".count("is")

2

In [8]:
"hellow this is an example of strings".count("an")

1

In [10]:
"it was an increadible this that has ever happed to me".count("t")

5

In [11]:
"it was an increadible this that has ever happed to me".count("e")

6

In [14]:
msg = input("enter the message")
words = set(msg.split())
print(words)
for w in words:
    c = msg.count(w)
    print(w,'=>',c)

{'account', 'told', 'adventure', 'story"', 'real', 'people', 'of', 'and', 'events', 'or', 'for', 'entertainment.', 'an', 'imaginary', '"an'}
account => 1
told => 1
adventure => 1
story" => 1
real => 1
people => 1
of => 1
and => 1
events => 1
or => 3
for => 1
entertainment. => 1
an => 3
imaginary => 1
"an => 1

In [15]:
story = '''an account of imaginary or real people and events told for entertainment.
"an adventure story"'''

q = input("enter search term:")

In [16]:
story = '''an account of imaginary or real people and events told for entertainment an adventure story'''
q = input("enter search term:")
start = 0
while True:
    idx = story.find(q.start)
    if idx == -1:
        break
    print(f'found at position {idx}')
    strt = idx + 1

AttributeError: 'str' object has no attribute 'start'

In [19]:
story = '''an account of imaginary or real people and events told for entertainment an adventure story'''
q = input("enter search term:")
start = 0
while True:
    idx = story.find(q,start)
    if idx == -1:
        break
    print(f'found at position {idx}')
    start = idx + 1

found at position 0
found at position 39
found at position 73

In [21]:
story = '''an account of imaginary or real people and events told for entertainment an adventure story'''
q = input("enter search term:")
start = 0
while True:
    idx = story.find(q,start)
    if idx == -1:
        break
    print(f'{q} found at position {idx}')
    start = idx + 1

an found at position 0
an found at position 39
an found at position 73

In [28]:
story = '''an account of i imaginary or real an i o u  people and e events an  told for a o entertainment an e adventure story'''
for v in "aeiouAEIOU":
    if v == 'a' or v == 'A':
        story = story.replace(v,'1')
    if v == 'e' or v == 'E':
        story = story.replace(v,'2')
    if v == 'i' or v == 'I':
        story = story.replace(v,'3')
    if v == 'o' or v == 'O':
        story = story.replace(v,'4')
    if v == 'u' or v == 'U':
        story = story.replace(v,'5')
print(story)

1n 1cc45nt 4f 3 3m1g3n1ry 4r r21l 1n 3 4 5  p24pl2 1nd 2 2v2nts 1n  t4ld f4r 1 4 2nt2rt13nm2nt 1n 2 1dv2nt5r2 st4ry

# methods of the list
- addiation itmes in list
apped()
insert()
extend()
-subtraction or revoval of items
pop()
remove()
clear()
-utility fuctions
sort()
reverse()
index()
count()
copy()
-

In [3]:
books=['JEET AAP KI',
'ME SHIVAJI RAJE BHSLE BOLTOY',
'AGNIPANKH',
'THE MERCY',
'HARIPTH',
'DHYANESHARI',
'BRIF HISTORY OF TIMES',
'THE PRINCIPIYA',
'CALCULUS']

In [6]:
books.append("the car")

In [7]:
books

['JEET AAP KI',
 'ME SHIVAJI RAJE BHSLE BOLTOY',
 'AGNIPANKH',
 'THE MERCY',
 'HARIPTH',
 'DHYANESHARI',
 'BRIF HISTORY OF TIMES',
 'THE PRINCIPIYA',
 'CALCULUS',
 'the car']

In [8]:
books.append('nuclear medicine')
books.append("radiation bioogy")

In [9]:
books

['JEET AAP KI',
 'ME SHIVAJI RAJE BHSLE BOLTOY',
 'AGNIPANKH',
 'THE MERCY',
 'HARIPTH',
 'DHYANESHARI',
 'BRIF HISTORY OF TIMES',
 'THE PRINCIPIYA',
 'CALCULUS',
 'the car',
 'nuclear medicine',
 'radiation bioogy']

In [10]:
books.append(['apple', 'banana', 'orange'])

In [11]:
books.append('anatomy')
books.append('physiology')

In [12]:
books.insert(5, 'mitosis')

In [13]:
books

['JEET AAP KI',
 'ME SHIVAJI RAJE BHSLE BOLTOY',
 'AGNIPANKH',
 'THE MERCY',
 'HARIPTH',
 'mitosis',
 'DHYANESHARI',
 'BRIF HISTORY OF TIMES',
 'THE PRINCIPIYA',
 'CALCULUS',
 'the car',
 'nuclear medicine',
 'radiation bioogy',
 ['apple', 'banana', 'orange'],
 'anatomy',
 'physiology']

In [16]:
books.insert(-5, 'the alloy of law')
print(books)

['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'the car', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'physiology']

In [17]:
worst_books = ['two states', 'the white tighr', 'mathematicia']

In [18]:
books.extend(worst_books)

In [19]:
books.extend([1,2,6,8,7])
print(books)

['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'the car', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'physiology', 'two states', 'the white tighr', 'mathematicia', 1, 2, 6, 8, 7]

In [20]:
len(books)

25

In [21]:
books.append('bebelia ka amir aadmi')

In [22]:
rs=['the red', 'colors of God', 'raw','the empire','do not loos your money']

In [23]:
books.extend(rs)

In [24]:
print(books)

['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'the car', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'physiology', 'two states', 'the white tighr', 'mathematicia', 1, 2, 6, 8, 7, 'bebelia ka amir aadmi', 'the red', 'colors of God', 'raw', 'the empire', 'do not loos your money']

In [25]:
books.insert(10, 'time manegment')

In [26]:
books.insert(-15, 'dosimetry')
print(books)

['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'time manegment', 'the car', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'dosimetry', 'physiology', 'two states', 'the white tighr', 'mathematicia', 1, 2, 6, 8, 7, 'bebelia ka amir aadmi', 'the red', 'colors of God', 'raw', 'the empire', 'do not loos your money']

In [27]:
books.remove('the empire')

In [28]:
print(books)

['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'time manegment', 'the car', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'dosimetry', 'physiology', 'two states', 'the white tighr', 'mathematicia', 1, 2, 6, 8, 7, 'bebelia ka amir aadmi', 'the red', 'colors of God', 'raw', 'do not loos your money']

In [29]:
remove_val = 'raw'
if remove_val in books:
    books.remove(remove_val)

In [31]:
remove_val = 'raw'
if remove_val in books:
    books.remove(remove_val)
else:
    print(remove_val + " is not in the list")

raw is not in the list

In [32]:
remove_val = 'the car'
if remove_val in books:
    books.remove(remove_val)
else:
    print(remove_val + " is not in the list")

In [33]:
print(books)

['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'time manegment', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'dosimetry', 'physiology', 'two states', 'the white tighr', 'mathematicia', 1, 2, 6, 8, 7, 'bebelia ka amir aadmi', 'the red', 'colors of God', 'do not loos your money']

In [34]:
len(books)

30

In [35]:
books.pop(-2)

'colors of God'

In [36]:
books.pop()

'do not loos your money'

In [37]:
books.pop(12)

'nuclear medicine'

In [38]:
books.pop(12)

'radiation bioogy'

In [39]:
books.clear()

In [40]:
print(books)

[]

In [41]:
xyz=[['JEET AAP KI', 'ME SHIVAJI RAJE BHSLE BOLTOY', 'AGNIPANKH', 'THE MERCY', 'HARIPTH', 'mitosis', 'DHYANESHARI', 'BRIF HISTORY OF TIMES', 'THE PRINCIPIYA', 'CALCULUS', 'time manegment', 'the alloy of law', 'nuclear medicine', 'radiation bioogy', ['apple', 'banana', 'orange'], 'anatomy', 'dosimetry', 'physiology', 'two states', 'the white tighr', 'mathematicia', 1, 2, 6, 8, 7, 'bebelia ka amir aadmi', 'the red', 'colors of God', 'do not loos your money']]

In [42]:
books.extend('xyz')

In [43]:
print(books)

['x', 'y', 'z']

In [1]:
y =[23,56,89,7,87,89,46,78,65,66]

In [2]:
len(y)

10

In [3]:
sorted(y)

[7, 23, 46, 56, 65, 66, 78, 87, 89, 89]

In [4]:
y.sort()

In [5]:
print(y)

[7, 23, 46, 56, 65, 66, 78, 87, 89, 89]

In [8]:
y.sort(reverse=True)

In [9]:
print(y)

[89, 89, 87, 78, 66, 65, 56, 46, 23, 7]

In [10]:
fruits = ['Apple', 'Banana', 'orange', 'Grapes']

In [11]:
fruits.sort()

In [12]:
print(fruits)

['Apple', 'Banana', 'Grapes', 'orange']

In [13]:
fruits.sort(reverse=True)
print(fruits)

['orange', 'Grapes', 'Banana', 'Apple']

In [14]:
x = [1,5,5,8,67,97,9,67,97,67,94,79,78]

In [15]:
x.reverse()

In [16]:
print(x)

[78, 79, 94, 67, 97, 67, 9, 97, 67, 8, 5, 5, 1]

In [17]:
x=[1,1,1,5,5,5,5,7,8,7,8,79,8,8,7,8,8,5,5,5,5,5,]

In [18]:
x.count(5)

9

In [19]:
x.count(1)

3

In [20]:
x.count(8)

6

In [21]:
y = ['mohan','mohan','car','car','rohan']

In [22]:
y.count('rohan')

1

In [23]:
z = [23,45,45,78,98,54,78,65,897,88]

In [24]:
z.index(45)

1

In [25]:
z.index(88)

9

In [26]:
z.index(54)

5

In [27]:
z.index(55)

ValueError: 55 is not in list

In [28]:
if 55 in x:
    print(z.inex(55))

In [30]:
if 54 in z:
    print(z.index(54))

5

In [31]:
x = [1,2,3,4,65,97,97,9,9,79,9,46,5,65]
y = x
z = x.copy()

In [32]:
print(z)

[1, 2, 3, 4, 65, 97, 97, 9, 9, 79, 9, 46, 5, 65]

In [33]:
z.append(45)

In [34]:
print(z)

[1, 2, 3, 4, 65, 97, 97, 9, 9, 79, 9, 46, 5, 65, 45]

In [35]:
x.append(63)
print(y)

[1, 2, 3, 4, 65, 97, 97, 9, 9, 79, 9, 46, 5, 65, 63]

In [36]:
print(x),print(y),print(z)

[1, 2, 3, 4, 65, 97, 97, 9, 9, 79, 9, 46, 5, 65, 63]
[1, 2, 3, 4, 65, 97, 97, 9, 9, 79, 9, 46, 5, 65, 63]
[1, 2, 3, 4, 65, 97, 97, 9, 9, 79, 9, 46, 5, 65, 45]

(None, None, None)

In [37]:
x.remove(9),y.remove(9),z.remove(9)
print(x),print(y),print(z)

[1, 2, 3, 4, 65, 97, 97, 79, 9, 46, 5, 65, 63]
[1, 2, 3, 4, 65, 97, 97, 79, 9, 46, 5, 65, 63]
[1, 2, 3, 4, 65, 97, 97, 9, 79, 9, 46, 5, 65, 45]

(None, None, None)

#Tuples

In [38]:
my_tuples = (1, 'CAR', 3.45)  #tuple with mixed data types

In [39]:
print(my_tuples)

(1, 'CAR', 3.45)

In [40]:
my_tuples = ('mouse', [8,6,7,8],(1,1,8,9,6,7,65,78))   # nested tuple
print(my_tuples)

('mouse', [8, 6, 7, 8], (1, 1, 8, 9, 6, 7, 65, 78))

In [41]:
my_tuples = 3,5,3.45,"Apple"    # this is know as tuple paking 
print(my_tuples)

(3, 5, 3.45, 'Apple')

In [42]:
my_tuple = ('s','u','r','y','a','w','s')

In [43]:
print(my_tuple[5])

w

In [45]:
print(my_tuple[4])

a

In [46]:
n_tuple = ("ac", [8,5,6,8,79,8],(5,5,67,9))

In [49]:
print(n_tuple[1][2])

6

In [50]:
my_tuple = ('s','u','r','y','a','w','s')

In [51]:
print(my_tuple[1:3])

('u', 'r')

In [52]:
print(my_tuple[:-2])

('s', 'u', 'r', 'y', 'a')

In [53]:
print(my_tuple[2:])

('r', 'y', 'a', 'w', 's')

In [54]:
print(my_tuple[:])

('s', 'u', 'r', 'y', 'a', 'w', 's')

In [55]:
x=(1,2,3)
y=(4,5,6)
print((x)+(y))

(1, 2, 3, 4, 5, 6)

In [56]:
print((x,)*3)

((1, 2, 3), (1, 2, 3), (1, 2, 3))

In [57]:
my_tuple = ('a','p','p','i','e')

In [58]:
print(my_tuple.count('p'))

2

In [61]:
print(my_tuple.index('e'))

4

In [62]:
x = (2,45,6,68,8)

In [63]:
x1 = list(x)
print(x,x1)

(2, 45, 6, 68, 8) [2, 45, 6, 68, 8]

In [64]:
xz = set(x)
print(x,xz)

(2, 45, 6, 68, 8) {2, 68, 6, 8, 45}

In [65]:
print(set(x))

{2, 68, 6, 8, 45}

In [66]:
yz = list(xz)

In [67]:
print(xz,yz)

{2, 68, 6, 8, 45} [2, 68, 6, 8, 45]

In [68]:
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [69]:
my_set = {1,1.23,45,"Roar",(1,5,9,7,6)}
print(my_set)

{1, 1.23, 'Roar', (1, 5, 9, 7, 6), 45}

In [70]:
my_set = {1,2,1,1,1,1,3,4,5,6,8,9,}
print(my_set)

{1, 2, 3, 4, 5, 6, 8, 9}

In [71]:
my_set = set([1,2,3,65,8,8,9,8])
print(my_set)

{65, 1, 2, 3, 8, 9}

In [1]:
a = set()
print(type(a))

<class 'set'>

In [2]:
print(a)

set()

In [3]:
my_set = {1,5,6}
print(my_set)

{1, 5, 6}

In [4]:
my_set.add(3)

In [5]:
print(my_set)

{1, 3, 5, 6}

In [6]:
my_set.update([1,5,3,6,7])

In [7]:
print(my_set)

{1, 3, 5, 6, 7}

In [8]:
my_set.update([8,9,8],{8,6,3,7,6,4})
print(my_set)

{1, 3, 4, 5, 6, 7, 8, 9}

In [9]:
print(my_set)

{1, 3, 4, 5, 6, 7, 8, 9}

In [10]:
print(my_set)

{1, 3, 4, 5, 6, 7, 8, 9}

In [11]:
my_set.remove(2)

KeyError: 2

In [12]:
my_set.remove(2,(4))

TypeError: set.remove() takes exactly one argument (2 given)

In [13]:
my_set.remove(8)

In [14]:
print(my_set)

{1, 3, 4, 5, 6, 7, 9}

In [15]:
my_set.pop()
print(my_set)

{3, 4, 5, 6, 7, 9}

In [16]:
my_set.clear()
print(my_set)

set()

In [17]:
my_set = {1, 3, 4, 5, 6, 7, 9}

In [20]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [21]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [22]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
print(A|B)    #union fuctions

{1, 2, 3, 4, 5, 6, 7, 8}

In [23]:
print(A&B)      #remove common pts.

{4, 5}

In [24]:
A.intersection(B)

{4, 5}

In [26]:
print(A-B)  #remove common from set A

{1, 2, 3}

In [27]:
print(B-A)   ##remove common from set B

{8, 6, 7}

In [28]:
A.difference(B)

{1, 2, 3}

In [29]:
print(A ^ B) # IT WILL REMOVE COMMON ITEMS

{1, 2, 3, 6, 7, 8}

In [30]:
A.symmetric_difference(B)   #use of symmetric diffrence for function a$b

{1, 2, 3, 6, 7, 8}

In [31]:
X = {'LAPBOOK','DIGITAL WATCH','MOBILE','TV','AC'}

In [32]:
Y = {'MOBILE','TV','COOLER','WIFI ROUTER'}

In [33]:
print(X|Y)

{'TV', 'WIFI ROUTER', 'COOLER', 'AC', 'MOBILE', 'LAPBOOK', 'DIGITAL WATCH'}

In [34]:
print(X&Y)

{'MOBILE', 'TV'}

In [35]:
print(X-Y)

{'AC', 'LAPBOOK', 'DIGITAL WATCH'}

In [36]:
print(Y-X)

{'WIFI ROUTER', 'COOLER'}

In [38]:
print(X^Y)

{'WIFI ROUTER', 'COOLER', 'AC', 'LAPBOOK', 'DIGITAL WATCH'}

In [42]:
my_dict = {1:'Apple',2:'Ball'}

In [40]:
print(my_dict)

{1: 'Apple', 2: 'Ball'}

In [43]:
my_dict = {'name':'AJ','age':35}

In [44]:
print(my_dict['name'])

AJ

In [46]:
print(my_dict['age'])

35

In [47]:
print(my_dict.get('age'))

35

In [48]:
print(my_dict.get('name'))

AJ

In [50]:
print(my_dict['adress'])

KeyError: 'adress'

In [51]:
print(my_dict.get('adress')) #use .get to nullify error

None

In [52]:
my_dict['age'] = 42         #use for addition & repalce existing value.

In [53]:
print(my_dict)

{'name': 'AJ', 'age': 42}

In [54]:
my_dict['Adress'] = 'Heidlburg'

In [55]:
print(my_dict)

{'name': 'AJ', 'age': 42, 'Adress': 'Heidlburg'}

In [56]:
squares = {1:1,2:4,3:9,4:16,5:25,6:36}

In [57]:
print(squares.pop(4))   #remove exact value of x

16

In [58]:
print(squares)

{1: 1, 2: 4, 3: 9, 5: 25, 6: 36}

In [59]:
print(squares.popitem())  #extract last items

(6, 36)

In [62]:
squares.clear()

In [61]:
print(super)

<class 'super'>

In [63]:
print(squares)

{}

In [64]:
squares = {1:1,2:4,3:9,4:16,5:25,6:36}

In [65]:
del squares

In [66]:
print(squares)

NameError: name 'squares' is not defined

In [67]:
squares = {1:1,2:4,3:9,4:16,5:25,6:36}

In [68]:
for i in squares:
    print(i)

1
2
3
4
5
6

In [69]:
for i in squares:
    print(squares[i])

1
4
9
16
25
36

In [70]:
for i in squares:
    print(squares[i])

1
4
9
16
25
36

In [71]:
for k, v in squares.items():
    print(k,v)

1 1
2 4
3 9
4 16
5 25
6 36

In [72]:
for i,j in squares.items():
    print(i,j)

1 1
2 4
3 9
4 16
5 25
6 36

In [73]:
Students = {'Raj':('math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98), 'Rahul'('math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98)
'Suman':('math'798,'CHE':78,'Phy':8882,'Bio':77,'computer':28),'parmit'('math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98),'Rajesh'('math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98),'Raman':('math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98)}

SyntaxError: invalid syntax (2725882786.py, line 1)

In [79]:
Students = {'Raj':{'math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98},
 'Rahul':{'math':98,'CHE':77,'Phy':88,'Bio':97,'computer':98},
 'Suman':{'math':78,'CHE':78,'Phy':82,'Bio':77,'computer':28},
 'parmit':{'math':93,'CHE':77,'Phy':28,'Bio':95,'computer':98},
'Rajesh':{'math':3,'CHE':67,'Phy':88,'Bio':57,'computer':78},
'Raman':{'math':98,'CHE':77,'Phy':38,'Bio':97,'computer':98}}

In [81]:
Students['Rahul']

{'math': 98, 'CHE': 77, 'Phy': 88, 'Bio': 97, 'computer': 98}

In [83]:
Students['parmit']['CHE']

77

In [88]:
for name, marks in Students.items():
    print(name)
    for sub,marks in marks.items():
        print(f'=> {sub}: {marks}')
        print('_'*20)

Raj
=> math: 98
____________________
=> CHE: 77
____________________
=> Phy: 88
____________________
=> Bio: 97
____________________
=> computer: 98
____________________
Rahul
=> math: 98
____________________
=> CHE: 77
____________________
=> Phy: 88
____________________
=> Bio: 97
____________________
=> computer: 98
____________________
Suman
=> math: 78
____________________
=> CHE: 78
____________________
=> Phy: 82
____________________
=> Bio: 77
____________________
=> computer: 28
____________________
parmit
=> math: 93
____________________
=> CHE: 77
____________________
=> Phy: 28
____________________
=> Bio: 95
____________________
=> computer: 98
____________________
Rajesh
=> math: 3
____________________
=> CHE: 67
____________________
=> Phy: 88
____________________
=> Bio: 57
____________________
=> computer: 78
____________________
Raman
=> math: 98
____________________
=> CHE: 77
____________________
=> Phy: 38
____________________
=> Bio: 97
____________________
=> computer: 98
____________________